
<div class="bg_img" style="margin-top: -117px;">
    <div class="img-responsive omeimg">
        <div class="container">

            <div class="col-sm-3 cls3">
                <ul id="hide3"  class="menu">
                    <li id="menu-item-26" class="homeIcon menu-item menu-item-type-post_type menu-item-object-page  menu-item-26"><a href="\" class="linkBurger">Home</a></li>
                    <li id="menu-item-27" class="aboutIcon menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-27"><a href="/#about">About</a></li>
                    <li id="menu-item-31" class="orderIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="/#onlineorder">Online Order</a></li>
                    <li id="menu-item-29" class="contactIcon menu-item menu-item-type-post_type menu-item-object-page  menu-item-29"><a href="/#contact">Contact</a></li>
                    <li id="menu-item-198" class="loginIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="#">Login</a></li>
                </ul>
            </div>
            <br />

            <div class="col-sm-12 calsm12">
                <h2 class="ui inverted header bannerContent ihb">
                    <span class="font-color-orange">R</span>EAL TASTE AND<br> HIGH QUALITY SE<span class="font-color-orange">R</span>VICE
                </h2>
            </div>
        </div>
    </div>
</div>



<div class="img-responsive bghomey">
    <div class="divider divider-custom">
        <div class="dividerInner1 din1"> </div>
        <div class="burgerIcon1 colororange"></div>
    </div>

    <div class="container">
        <div class="about">

            <div class="col-sm-12">
                <div class="colorgrey">
                    <h3 class="fontstyling alst"><b>A</b> <span class="colorred">B</span>OUT US</h3>
                </div>
            </div>
        </div>

        <div class="container cntnr">
            <div class="col-sm-12">
                <div class="thekeyword">
                    <div class="block">
                        <div class="about">
                            <div>
                                <div class="colorwhite">
                                    <h1 class="fontstyling alpha"><u>THE</u> <span class="colororange">REAL</span> BURGER</h1>
                                </div>
                                <div class="colorwhite csaf">
                                    <p class="pryme" style="">
                                        We serve great food, Yes! But that’s not enough. Besides pleasing your refined palate, we also want to make you feel like you’re at home with your closest ones. That’s why our team makes the most warm and friendly environment for you! We maintain a high standard of cleanliness and hygiene We follow a sophisticated, multistep food preparation method.
                                        <br /><br /><span class="about">Real Burger is 100% Saudi business.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ui stackable grid container stc">
        <div class="three column row abtmg">
            <div class="gal">
                <img src="images/about-1.png">
                <img class="abt4" src="images/about-4.png">
                <img src="images/about-2.png">
                <img src="images/about-6.png">
                <img src="images/about-3.png">
                <img src="images/about-5.png">
            </div>
        </div>
    </div>
</div>
<!-- <script>
     MenuHideShow();
</script> -->