<div class="bg_img" style="margin-top: -117px;">
    <div class="img-responsive omeimg">
        <div class="container">

            <div class="col-sm-3 cls3">
                <ul id="hide3"  class="menu">
                    <li id="menu-item-26" class="homeIcon menu-item menu-item-type-post_type menu-item-object-page  menu-item-26"><a href="\" class="linkBurger"><span class="hometxtC">Home</span></a></li>
                    <li id="menu-item-27" class="aboutIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/#about">About</a></li>
                    <li id="menu-item-31" class="orderIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="/#onlineorder">Online Order</a></li>
                    <li id="menu-item-29" class="contactIcon menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-29"><a href="/#contact">Contact</a></li>
                    <li id="menu-item-198" class="loginIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="#">Login</a></li>
                </ul>
            </div>
            <br />

            <div class="col-sm-12 calsm12">
                <h2 class="ui inverted header bannerContent ihb">
                    <span class="font-color-orange">R</span>EAL TASTE AND<br> HIGH QUALITY SE<span class="font-color-orange">R</span>VICE
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="mbg img-responsive">
    <div class="divider divider-custom">
        <div class="dividerInner1 in1"> </div>
        <div class="burgerIcon1 colororange"></div>
    </div>
    <div class="container">
        <div class="row ro">
            <div class="col-sm-4 eii">
                <img src="images/email icon.png" />
                <div class="pfont">
                    <label class="color-red label-contact">E-mail</label>
                    <p>
                        info@therealburger.online<br>
                        support@therealburger.online
                    </p>
                </div>
            </div>

            <div class="col-sm-4 eii">
                <img src="images/phone icon.png" />
                <div class="pfont">
                    <label class="color-red label-contact">Phone</label>
                    <p>
                        011 225 5304
                    </p>
                </div>
            </div>

            <div class="col-sm-4 tac">
                <img src="images/timings icon.png" />
                <div class="pfont">
                    <label class="color-red label-contact">Open Timings</label>
                    <p>
                        Sat-Thurs: 11:00am – 12:00pm<br />
                        Friday: 12:00pm – 1:00am
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="position:relative">
        <div class="locateTxt lot">
            <h3 class="locatetext lotx">LOCATE US</h3>
        </div>

        <div class="section">
            <div class="row sec2">
                <div class="col-md-12">
                    <iframe class="col-xs-12 col-lg-12 col-md-12 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.515905369306!2d46.772089915360404!3d24.70916268412558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f013177f6c3e9%3A0xd248f6ed3282d091!2sThe+Real+Burger!5e0!3m2!1sen!2s!4v1503826890169" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div style="position:relative">
            <div class="enquiryFormWrap" style="margin-right: 20px;border-right-width: 20px;margin-left: 27px;bottom: 2px;margin-top:-100px;margin-bottom: 100px;padding-top: 0px;">
                <div class="ui vertical stripe enquiryFormHead container">
                    <h3 class="mapfont mpf">
                        ONLINE ENQUI<span class="color-red">R</span>Y FO<span class="color-red">R</span>M<br>
                    </h3>
                    <p></p>
                </div>
                <div class="ui vertical stripe enquiryForm container">
                    <div role="form" class="wpcf7" id="wpcf7-f57-p18-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/beta/contact/#wpcf7-f57-p18-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div class="dn">
                                <input type="hidden" name="_wpcf7" value="57">
                                <input type="hidden" name="_wpcf7_version" value="4.3.1">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f57-p18-o1">
                                <input type="hidden" name="_wpnonce" value="70b1218db2">
                            </div>
                            <div class="ui form">
                                <div class="field">
                                    <div class="two fields tf" style="">
                                        <div class="field">
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" style="width:100%;"></span>
                                        </div>
                                        <div class="field">
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email" style="width:100%;"></span>
                                        </div>
                                        <p></p>
                                    </div>
                                    <div class="fields">
                                        <div class="sixteen wide field">
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea></span>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" value="Submit" class="enquirySubmit bgRed bglal">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
        MenuHideShow();
   </script> -->