<div class="bg_img" style="margin-top: -117px;">
    <div class="img-responsive omeimg">
        <div class="container">

            <div class="col-sm-3 cls3">
                <ul id="hide3" class="menu">
                    <li id="menu-item-26" class="homeIcon menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-26"><a href="\" class="linkBurger">Home</a></li>
                    <li id="menu-item-27" class="aboutIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/#about">About</a></li>
                    <li id="menu-item-31" class="orderIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="/#onlineorder">Online Order</a></li>
                    <li id="menu-item-29" class="contactIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="/#contact">Contact</a></li>
                    <li id="menu-item-198" class="loginIcon menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a href="#">Login</a></li>
                </ul>
            </div>
            <br />

            <div class="col-sm-12 calsm12">
                <h2 class="ui inverted header bannerContent ihb">
                    <span class="font-color-orange">R</span>EAL TASTE AND<br> HIGH QUALITY SE<span class="font-color-orange">R</span>VICE
                </h2>
            </div>
        </div>
    </div>
</div>


<div id="ourr" class="our_img">
    <div class="ui vertical stripe segment storyWrap" style="margin-top:-149px !important;">

        <div class="ui middle aligned stackable grid container">

            <div class="row sec2">
                <div class="eight wide column storyDetail" style="font-family:'Prime';">
                    <h3 class="ui header inverted rckwlb" style="">OU<span class="color-red">R</span> STO<span class="color-red">R</span>Y</h3>
                    <p class="inverted" style="color:white; font-family:'Prime';">Many burger restaurants have been recently introduced into the Saudi food industry with a questionable quality. Therefore, we have decided to introduce a burger of new flavors that ensures high nutritional values and low fat.</p>
                    <p style="color:white; font-family:'Prime';">
                        Real Burger keeps the balance between taste, health and nutritional value. Real Burger is 100% Saudi business.
                    </p>
                </div>
                <div class="eight wide right floated column"></div>
            </div>
        </div>
    </div>
</div>

<div class="mbg img-responsive">
    <h3 class="ui header uihr">THE <span class="color-red">R</span>EAL MENU</h3>
    <div class="container" style="width:980px;">
        <div class="row realmenu-mg">
            <div id="div-compress" class="col-sm-4">
                <img class="img-responsive" src="images/1-1.png">
                <div class="bgw">
                    <div class="image">
                        <h3 class="hding sding">BEEF BURGER</h3>
                        <p class="bbs">Lorem Ipsum is simply dummy text </p>
                        <div class="bottomButtomMore"><a class="whiteBorderBtn" href="#">View More</a></div>
                    </div>
                </div>

            </div>
            <div id="div-compress" class="col-sm-4">
                <img class="img-responsive" src="images/chickenBurger.png">
                <div class="bgw">
                    <div class="image">
                        <h3 class="hding sding">CHICKEN BURGER</h3>
                        <p class="bbs">Lorem Ipsum is simply dummy text </p>
                        <div class="bottomButtomMore"><a class="whiteBorderBtn" href="#">View More</a></div>
                    </div>
                </div>
            </div>
            <div id="div-compress" class="col-sm-4">
                <img class="img-responsive" src="images/1-1.png">
                <div class="bgw">
                    <div class="image">
                        <h3 class="hding sding">DIET BURGER</h3>
                        <p class="bbs">Lorem Ipsum is simply dummy text </p>
                        <div class="bottomButtomMore"><a class="whiteBorderBtn" href="#">View More</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="images/promotion.png">
                <div class="bgw">
                    <div class="image">
                        <h3 class="hding imp" style="">PARTY BOX</h3>
                        <p class="bbs">Lorem Ipsum is simply dummy text </p>
                        <div class="bottomButtomMore"><a class="whiteBorderBtn" href="#">View More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--testimonials-->
    <div class="ui vertical stripe testimonialWrap">
        <div class="ui middle aligned stackable grid container">
            <div class="row sec2">
                <div class="column">
                    <h3 class="ui header center en uhce">
                        <span class="underline">THE</span>
                        <span class="color-red">R</span>EAL TESTIMONIALS
                    </h3>
                    <h3 class="ui header center ar">ردود عملاؤنا </h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <div class="carousel-inner text-center">
                                <!-- Quote 1 -->
                                <div class="item active iact">
                                    <blockquote class="bkq">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <p>
                                                    hanadi_77وش تفضلون برجر لحم ولا دجاج ؟ ?<br>
                                                    بصراحة انا احب اللحم والدجاج ?<br>
                                                    اهم شيء يكون برجر وبس?<br>
                                                    شوفو هالبرجر اللذيذ ? من افضل المطاعم اللي تعاملت معهم واكلهم لذيييييييذ ماشاءلله وعندهم جميع الانواع حتى الدايت لايفوتكم جربوووة ??
                                                </p>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item iact">
                                    <blockquote class="bkq">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <p>
                                                    الموقع : الريان - شارع الأمير ماجد . . . . مطعم سعودي ، للافراد فقط المنيو عباره عن برجر لحم ودجاج ودايت برجر وديناميت فرايز وسلطه  وايضاً اضافات للبرقر مثل دبس الرمان وحبيبات الرمان مع الجرجير<br>
                                                    والبصل والمشروم والبيض ، . . .<br>
                                                    الطلب : برقر لحم سنقل ، مع اضافة بصل ومشروم . اللحم طعمه مميز والخبزه طريه ، ?? . . .
                                                </p>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item iact">
                                    <blockquote class="bkq">
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <p>
                                                    10/10<br>
                                                    برجر دجاج مشوي مع دبس الرمان .. فكره جميله وجديده مررره لذيذه والطعم يمي 10/10<br>
                                                    ديناميت فرايس .. جميل ولذيذ وحار وصوصه مررره لذيذ10/10 ..<br>
                                                    بطاطس المقلي .. مررره حبيته ابد مو شارب زيت 10/10 زوم للتعذيب الي بيجربه بيدمنه ? منشنو الي تبون تتعشون معه اليوم منه ??
                                                </p>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="position:relative">
        <div class="locateTxt lctx">
            <h3 class="en rkbd">LOCATE US</h3>
            <div id="locate" class="widgets_on_page">
                <div>
                    <div id="text-2" class="widget widget_text">
                        <div class="textwidget">
                            <ul class="locationDetail lctd">
                                <li class="en"><i class="fa fa-map-marker"></i> <span>Riyadh , ALAmir Majed bin AbdulAziz rd , ALRayan</span></li>
                                <li class="ar"><i class="fa fa-map-marker"></i> <span>الرياض ، حي الريان ، شارع الأمير ماجد</span></li>
                                <li class="en"><i class="fa fa-mobile"></i> <span>011 225 5304</span></li>
                                <li class="ar"><i class="fa fa-mobile"></i> <span>٠١١٢٢٥٥٣٠٤</span></li>
                                <li><i class="fa fa-envelope"></i><a href="#"><span> info@therealburger.online/beta</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section ">
            <div class="row sec2">
                <div class="col-md-12">
                    <iframe class="col-xs-12 col-lg-12 col-md-12 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.515905369306!2d46.772089915360404!3d24.70916268412558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f013177f6c3e9%3A0xd248f6ed3282d091!2sThe+Real+Burger!5e0!3m2!1sen!2s!4v1503826890169" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>



<!--START ONLINE ORDER-->

<div id="mbgi" class="mbgi">
    <img src="../images/header mobile.png" class="wdth img-responsive" />
</div>

<div id="BGLI" class="BGLI">

    <div class="conm">

        <div id="ordronbtn" class="ordronbtn row text-center">
            <a ng-click="ordrtolocation();"><input type="button" class="btn btn-default active" value="ORDER ONLINE" /></a>
        </div>
        <div class="row ml-5 mr-5">
            <div id="MOS" class="col-md-12 MOS">
                <div class="storyDetail pt-10 pb-10">
                    <h3 class="ui header inverted rckwlb ourhed" style="">OUR STORY</h3>
                    <div class="ourstry-txt">
                        <p class="inverted crng font-prime ">Many burger restaurants have been recently introduced into the Saudi food industry with a questionable quality. Therefore, we have decided to introduce a burger of new flavors that ensures high nutritional values and low fat.</p>
                        <p class="crng font-prime ">
                            Real Burger keeps the balance between taste, health and nutritional value. Real Burger is 100% Saudi business.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="sec2">
                <div class="mmap">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion1">
                <button class="accordion" ng-click="closeexcept('p2', 'p3');">QUICK LINKS</button>
                <div class="panel panel-1 pp1">
                    <ul class="ulstyl">
                        <li class="clr-brdr"><a href="/#about" style="color:#363636;">About Us</a></li>
                        <li class="clr-brdr"><a href="/#contact" style="color:#363636;">Contact Us</a></li>
                        <li class="clr-brdr"><a href="/#example" style="color:#363636;">Online Order</a></li>
                    </ul>
                </div>

                <button class="accordion" ng-click="closeexcept('p3', 'pp1');">SOCIAL MEDIA</button>
                <div class="panel panel-1 p2">
                    <ul class="links">
                        <li class="clr-brdr spc_pad">
                            <a href="https://twitter.com/real_burger_sa" class="twtimg" style="color:#363636;">Twitter</a>
                        </li>
                        <li class="clr-brdr spc_pad">
                            <a href="https://www.instagram.com/real_burger_sa/" class="instimg" style="color:#363636;">Instagram</a>
                        </li>
                        <li class="clr-brdr spc_pad">
                            <a href="#" class="smg" style="color:#363636;">Snapchat</a>
                        </li>
                    </ul>
                </div>

                <button class="accordion" ng-click="closeexcept('pp1', 'p2');">SUBSCRIBE</button>
                <div class="panel panel-2 p3">
                    <form class="navbar-form mobile-pad" role="search">
                        <div class="input-group add-on">
                            <input class="form-control" style="color:gray; border-color: #aeb0b2; border: 1px solid;" placeholder="Search" name="srch-term" id="srch-term" type="text">
                            <div class="input-group-btn ">
                                <button class="btn btn-default mobile-search" type="submit">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
</div>
<!--END ONLINE ORDER-->
<!--MAP-->
<script>
    function initMap() {
        var uluru = { lat: 24.709260, lng: 46.774215 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0OlBvupdjpJlzaEETkO3IT8sBoPRQVBE&callback=initMap">
</script>
<!--ACCORDION-->
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>
<script src="../js/accordions.js"></script>
<script src="../scripts/app.js"></script>
<!-- <script>
        MenuHideShow();
   </script> -->

