<div class="bg_order-clr">
    <div class="order-no">
        Order No. 9961
    </div>

    <div class="timer">
        <div class="min">20 
        <p style="color:white; font-size:14px;">min</p></div>
        <img src="../images/timer 1.png" class="img-p" />

        <canvas id="myCanvas" width="250" height="250"></canvas>
    </div>



    <div class="thankyou">
        THANK YOU
    </div>

    <div class="processed">
        Your order is being processed
    </div>



    <div class="more-ordr">
        <a ng-click="cart()"><input type="button" value="Order More" class="more" /></a>
    </div>
</div>

<!--<div class="js">
    <div id="preloader1"></div>
</div>-->
<script src="../js/timer.js"></script>


